# Node.js
node_modules/
dist/
build/
coverage/
*.log
.env*
!.env.example

# .NET
bin/
obj/
out/
.vs/
.vscode/
*.user
*.lock.json
*.suo
*.userosscache
*.sln.docstates

# Mobile/Desktop OS
.DS_Store
Thumbs.db
